:root {
    /** Fuentes **/ 
    --principalFont: 'Kumbh Sans', sans-serif;     
 
      
    /** Colores **/
    --darkBlue: hsl(238, 29%, 16%);
    --softRed: hsl(14, 88%, 65%);
    --grayBlue: hsl(237, 12%, 33%);
    --grayDarkBlue: hsl(240, 6%, 50%);
    --grayLightBlue: hsl(240, 5%, 91%);
    --white: #ffffff;
    --black: #000000;
 }
 
 /* Initial setup */
 html{
     box-sizing: border-box;
     font-size: 62.5%; /*10px=1rem*/
     height: 100%;
     margin: 0;
     padding: 0;     
 }
 body
{
margin: 0;
padding: 0;
}
 body{ 
     font-size: 16px;     
     font-size: 1.6rem;     
     line-height: 2;
     font-family: var(--principalFont);
     background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));     
     background-repeat: no-repeat;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

 *, *:before, *:after{
     box-sizing: inherit;
 }
 
 /* Headings */
 h1{
     font-family: var(--fuentePrincipal);
     margin: 1rem 0;
     line-height: 1.2;
 }
 
 h1{
     font-size: 4rem;  
     color: var(--darkBlue)
 }

 li{
    list-style: none;
 }

/* Main content */
#arroba{
    position: relative;
    left: 0;
    top: 0;
    z-index: 10;
}
#principal{  
    margin-top: 30px; 
    overflow: hidden;     
    display: flex; 
    position: relative;
    align-items: center;    
    background-color: var(--white);
    border-radius: 3rem;      
    width: 100rem;            
    height: 50rem; 
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0rem 1.5rem 4rem 0rem  hsl(237, 12%, 33%);     
}

#images{
    position: relative;    
    max-height: 38rem;
}
#woman-online{
    position: relative;
    top: 3rem;
    right: 6rem;
    display: block;
    height: 30rem;
    width: 45rem;               
}
#shadow{
    position: absolute;    
    top: -36rem;
    right: 6rem;
    display: block;
    width: 96.6rem;
    height: 94.5rem;    
}
#arroba-box{    
    position: absolute;    
    top: 21rem;
    right: 40rem;      
}


#overflow{
    position: relative;
    overflow: hidden;  
    width: auto;
    height: 40rem;   
}
#faq{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;   
    padding: 10rem;        
}
#faq ul{
    padding: 0;    
}


.dropdown{
    position: relative;
    padding-top: .5rem;
    padding-bottom: 1rem;
    border-bottom: solid 2px var(--grayLightBlue);
}
.dropdown img{       
    width: 1.2rem;
    height: 1rem;
 }
 .dropdown p{
     display: none;
     max-width: 40rem;
     color: var(--grayDarkBlue)    
 }
 .dropdown label{
     color: var(--darkBlue)
 }  
 .flex-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 40rem;
 }

input[type=radio]{
    display: none;
}
input[type=radio]:checked ~ p {
    display: block    
}
input[type=radio]:checked + div label {
    font-weight: 700;
}
input[type=radio]:checked + div img {
    transform: rotateX(180deg);
}

.attribution{
    font-size: 2rem ;
    padding: 1.5rem;
   
}
.attribution a{
    
    text-decoration: none;
    color: var(--white);
}








